body{
    margin: 0 auto;
    /* background-color: #FFF8E7; */
    background-color: #F2DABD;
}
.shapka{
    width: 100%;
    height: 60px;
    /* border: 2px solid rgb(0, 255, 0); */
    position: fixed;
    background-color: #800020;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ship{
    /* border: 2px solid red; */
    width: 4%;
    /* margin-bottom: 5%; */
}
.marm{
    width: 100%;
}
.knopka{
    border-radius: 50px;
    background-color: #969EA9;
    transition: 0.5s;
    width: 22%;
    height: 45%;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.registr{
    width: 35%;
    border: 2px solid rgb(153, 58, 58);
    margin: 0 auto;
}
p{
    text-align: center;
}
.text{
    margin-left: 13%;
    margin-bottom: 5%;
    width: 70%;
    height: 30px;
    border: 2px solid#800020;
    border-radius: 20px;
}
.lable{
    margin-left: 38%;
}
.otprafka{
    margin-left: 45%;
}
.zagalovki{
    font-family: Tahoma;
    font-size: 25px;
    text-align: center; 
}
.button{

font-size: 17px;
/* padding: 5px 0px 5px; */
}
footer{
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 195px;
}
.konex{
    font-family: Tahoma;
    font-size: 20px; 
    text-align: center;
    /* display: flex; */
    /* max-width: 5px; */
    min-width: 3%;
}
.ikon{
    width: 3%;
    max-width: 5%;
}
/* .shab{
     border: 2px solid rgb(255, 0, 0); 
    width: 99.8%;
    height: 531px;
} */